@font-face {
  font-family: Onest;
  src: url('../assets/fonts/OnestThin1602-hint.ttf');
  font-weight: 100;
}
@font-face {
  font-family: Onest;
  src: url('../assets/fonts/OnestLight1602-hint.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Onest;
  src: url('../assets/fonts/OnestRegular1602-hint.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Onest;
  src: url('../assets/fonts/OnestMedium1602-hint.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Onest;
  src: url('../assets/fonts/OnestBold1602-hint.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Onest;
  src: url('../assets/fonts/OnestExtraBold1602-hint.ttf');
  font-weight: 800;
}
@font-face {
  font-family: Onest;
  src: url('../assets/fonts/OnestBlack1602-hint.ttf');
  font-weight: 900;
}
