@font-face {
  font-family: 'Minecraftia';
  src: url(../assets/fonts/mine.ttf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Minecraftia';
}

body {
  /* background-color: #111; */
}

.chat {
  padding-top: 5px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #0005;
  transition: 1s;
}

.chat__message {
  color: #fff;
  line-height: 1.25rem;
}
